openapi: 3.1.0
info:
  title: Lago API documentation
  description: Lago API allows your application to push customer information and metrics (events) from your application to the billing application.
  version: 1.47.0
  license:
    name: AGPLv3
    url: https://github.com/getlago/lago-openapi/blob/main/LICENSE
  contact:
    email: tech@getlago.com
servers:
  - url: https://api.getlago.com/api/v1
    description: US Lago cluster
  - url: https://api.eu.getlago.com/api/v1
    description: EU Lago cluster
security:
  - bearerAuth: []
tags:
  - name: activity_logs
    description: Everything about Activity logs
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/audit-logs/activity-logs-object
  - name: analytics
    description: Everything about Analytics
  - name: api_logs
    description: Everything about API logs
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/audit-logs/api-logs-object
  - name: billable_metrics
    description: Everything about Billable metric collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/billable-metrics/object
  - name: features
    description: Everything about Feature collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/entitlements/features/feature-object
  - name: entitlements
    description: Everything about Entitlement collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/entitlements/plan-entitlements/plan-entitlement-object
  - name: billing_entities
    description: Everything about Billing Entities
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/billing-entities/object
  - name: customers
    description: Everything about Customer collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/customers/object
  - name: plans
    description: Everything about Plan collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/plans/object
  - name: subscriptions
    description: Everything about Subscription collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/subscriptions/subscription-object
  - name: events
    description: Everything about Event collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/events/event-object
  - name: organizations
    description: Everything about Organization collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/organizations/organization-object
  - name: taxes
    description: Everything about Tax collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/taxes/tax-object
  - name: coupons
    description: Everything about Coupon collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/coupons/coupon-object
  - name: add_ons
    description: Everything about Add-on collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/add-ons/add-on-object
  - name: fees
    description: Everything about Fees
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/invoices/invoice-object#fee-object
  - name: invoices
    description: Everything about Invoice collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/invoices/invoice-object
  - name: wallets
    description: Everything about Wallet collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/wallets/wallet-object
  - name: credit_notes
    description: Everything about Credit notes collection
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/credit-notes/credit-note-object
  - name: webhooks
    description: Everything about Webhooks
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/webhooks/format---signature#1-retrieve-the-public-key
  - name: webhook_endpoints
    description: Everything about Webhook Endpoints
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/webhook-endpoints/webhook-endpoint-object
  - name: payment_receipts
    description: Everything about Payment receipts
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/payment-receipts/payment-receipt-object
  - name: payment_requests
    description: Everything about PaymentRequests
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/payment-requests/payment-request-object
  - name: payments
    description: Everything about Payments
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/payments/payment-object
  - name: payment_methods
    description: Everything about Payment Methods
    externalDocs:
      description: Find out more
      url: https://getlago.com/docs/api-reference/payment-methods/payment-method-object
externalDocs:
  description: Lago Github
  url: https://github.com/getlago
paths:
  /billing_entities:
    get:
      tags:
        - billing_entities
      summary: List all billing entities
      description: This endpoint returns a list of all billing entities in the organization
      operationId: listBillingEntities
      responses:
        '200':
          description: List of billing entities
          content:
            application/json:
              schema:
                type: object
                required:
                  - billing_entities
                properties:
                  billing_entities:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillingEntityObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      tags:
        - billing_entities
      summary: Create a billing entity
      description: This endpoint is used to create a new billing entity
      operationId: createBillingEntity
      requestBody:
        description: The billing entity payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEntityCreateInput'
        required: true
      responses:
        '200':
          description: Billing entity created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntityObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /billing_entities/{code}:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the billing entity
    get:
      tags:
        - billing_entities
      summary: Retrieve a billing entity
      description: This endpoint returns a specific billing entity by its code
      operationId: getBillingEntity
      responses:
        '200':
          description: Billing entity details
          content:
            application/json:
              schema:
                type: object
                required:
                  - billing_entity
                properties:
                  billing_entity:
                    $ref: '#/components/schemas/BillingEntityObjectExtended'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    put:
      tags:
        - billing_entities
      summary: Update a billing entity
      description: This endpoint is used to update an existing billing entity
      operationId: updateBillingEntity
      requestBody:
        description: The billing entity update payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingEntityUpdateInput'
      responses:
        '200':
          description: Billing entity updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEntityObjectExtended'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /activity_logs:
    get:
      tags:
        - activity_logs
      summary: List all activity logs
      description: This endpoint retrieves all existing activity logs that represent actions performed on application resources.
      operationId: findAllActivityLogs
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: from_date
          in: query
          description: Filter activity logs from a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-08-09'
        - name: to_date
          in: query
          description: Filter activity logs up to a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-08-09'
        - name: activity_types[]
          in: query
          description: Filter results by activity types
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - billing_metric.created
              - billing_metric.updated
        - name: activity_sources[]
          in: query
          description: Filter results by activity sources
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - api
                - front
                - system
            example:
              - api
              - front
        - name: user_emails[]
          in: query
          description: Filter results by user emails
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - dinesh@piedpiper.test
        - $ref: '#/components/parameters/external_customer_id'
        - $ref: '#/components/parameters/external_subscription_id'
        - name: resource_ids[]
          in: query
          description: Filter results by resources unique identifiers
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
              format: uuid
            example:
              - 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
              - 1a901a90-1a90-1a90-1a90-1a901a901a90
        - name: resource_types[]
          in: query
          description: Filter results by resource class types
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - BillableMetric
              - Invoice
      responses:
        '200':
          description: List of activity logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /activity_logs/{activity_id}:
    parameters:
      - name: activity_id
        in: path
        description: The Activity Id of the existing activity log.
        required: true
        schema:
          type: string
          example: bdc0eda6-ea52-4f72-a46a-94f47a89b546
    get:
      tags:
        - activity_logs
      summary: Retrieve an activity log
      description: This endpoint retrieves an existing activity log that represents an action performed on some resource. The activity log is identified by its unique activity_id.
      operationId: findActivityLog
      responses:
        '200':
          description: Activity Log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /add_ons:
    post:
      tags:
        - add_ons
      summary: Create an add-on
      description: This endpoint is used to create an add-on that can be then attached to a one-off invoice.
      operationId: createAddOn
      requestBody:
        description: Add-on payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnCreateInput'
        required: true
      responses:
        '200':
          description: Add-on created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - add_ons
      summary: List all add-ons
      description: This endpoint is used to list all existing add-ons.
      operationId: findAllAddOns
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Add-ons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOnsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /add_ons/{code}:
    parameters:
      - name: code
        in: path
        description: Unique code used to identify the add-on.
        required: true
        schema:
          type: string
          example: setup_fee
    put:
      tags:
        - add_ons
      summary: Update an add-on
      description: This endpoint is used to update an existing add-on.
      operationId: updateAddOn
      requestBody:
        description: Add-on payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOnUpdateInput'
        required: true
      responses:
        '200':
          description: Add-on updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - add_ons
      summary: Retrieve an add-on
      description: This endpoint is used to retrieve a specific add-on.
      operationId: findAddOn
      responses:
        '200':
          description: Add-on
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - add_ons
      summary: Delete an add-on
      description: This endpoint is used to delete an existing add-on.
      operationId: destroyAddOn
      responses:
        '200':
          description: Add-on deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddOn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /api_logs:
    get:
      tags:
        - api_logs
      summary: List all api logs
      description: This endpoint retrieves all existing api logs that represent requests performed to Lago's API.
      operationId: findAllApiLogs
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: from_date
          in: query
          description: Filter api logs from a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-08-09'
        - name: to_date
          in: query
          description: Filter api logs up to a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-08-09'
        - name: http_methods[]
          in: query
          description: Filter results by HTTP methods
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - post
                - put
                - delete
            example:
              - post
              - put
        - name: http_statuses[]
          in: query
          description: Filter results by HTTP status or by generic request status
          required: false
          explode: true
          schema:
            type: array
            items:
              anyOf:
                - type: string
                  enum:
                    - succeeded
                    - failed
                - type: integer
                  minimum: 100
                  maximum: 599
            example:
              - failed
              - succeeded
              - 404
        - name: api_version
          in: query
          description: Filter results by API version
          required: false
          explode: true
          schema:
            type: string
            example: v1
        - name: request_paths
          in: query
          description: Filter results by the path of the request
          required: false
          explode: true
          schema:
            type: string
            example: /billable_metrics/
      responses:
        '200':
          description: List of api logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLogsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api_logs/{request_id}:
    parameters:
      - name: request_id
        in: path
        description: The Request Id of the existing api log.
        required: true
        schema:
          type: string
          example: bdc0eda6-ea52-4f72-a46a-94f47a89b546
    get:
      tags:
        - api_logs
      summary: Retrieve an api log
      description: This endpoint retrieves an existing api log that represents a request made to the API. The api log is identified by its unique request_id.
      operationId: findApiLog
      responses:
        '200':
          description: Api Log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /analytics/gross_revenue:
    get:
      tags:
        - analytics
      summary: List gross revenue
      description: Gross revenue is the sum of monthly `finalized` invoice payments and fees paid in advance that are not invoiceable. This total is calculated after deducting taxes and discounts.
      operationId: findAllGrossRevenues
      parameters:
        - name: currency
          in: query
          description: Currency of revenue analytics. Format must be ISO 4217.
          required: false
          explode: true
          schema:
            allOf:
              - $ref: '#/components/schemas/Currency'
              - example: USD
        - name: external_customer_id
          in: query
          description: The customer external unique identifier (provided by your own application). Use it to filter revenue analytics at the customer level.
          required: false
          explode: true
          schema:
            type: string
            example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
        - $ref: '#/components/parameters/months'
      responses:
        '200':
          description: Gross revenue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrossRevenues'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /analytics/invoice_collection:
    get:
      tags:
        - analytics
      summary: List of finalized invoices
      description: Represents a monthly aggregation, detailing both the total count and the cumulative amount of invoices that have been marked as `finalized`. This report sorts invoices categorically based on their `payment_status`.
      operationId: findAllInvoiceCollections
      parameters:
        - name: currency
          in: query
          description: The currency of revenue analytics. Format must be ISO 4217.
          required: false
          explode: true
          schema:
            allOf:
              - $ref: '#/components/schemas/Currency'
              - example: USD
        - $ref: '#/components/parameters/months'
      responses:
        '200':
          description: Finalized invoice collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceCollections'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /analytics/invoiced_usage:
    get:
      tags:
        - analytics
      summary: List usage revenue
      description: Reports a monthly analysis focused on the revenue generated from all usage-based fees. It exclusively accounts for revenue that has been formally invoiced. Importantly, this report does not include revenue related to the usage in the current billing period, limiting its scope to previously invoiced amounts.
      operationId: findAllInvoicedUsages
      parameters:
        - name: currency
          in: query
          description: The currency of invoiced usage analytics. Format must be ISO 4217.
          required: false
          explode: true
          schema:
            allOf:
              - $ref: '#/components/schemas/Currency'
              - example: USD
        - $ref: '#/components/parameters/months'
      responses:
        '200':
          description: Invoiced usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicedUsages'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /analytics/mrr:
    get:
      tags:
        - analytics
      summary: List MRR
      description: This endpoint is used to list MRR.
      operationId: findAllMrrs
      parameters:
        - name: currency
          in: query
          description: |-
            Quantifies the revenue generated from `subscription` fees on a monthly basis. This figure is calculated post-application of applicable taxes and deduction of any applicable discounts. The method of calculation varies based on the subscription billing cycle:

            - Revenue from `monthly` subscription invoices is included in the MRR for the month in which the invoice is issued.
            - Revenue from `quarterly` subscription invoices is distributed evenly over three months. This distribution applies to fees paid in advance (allocated to the next remaining months depending on calendar or anniversary billing) as well as to fees paid in arrears (allocated to the preceding months depending on calendar or anniversary billing).
            - Revenue from `yearly` subscription invoices is distributed evenly over twelve months. This allocation is applicable for fees paid in advance (spread over the next remaining months depending on calendar or anniversary billing) and for fees paid in arrears (spread over the previous months depending on calendar or anniversary billing).
            - Revenue from `semiannual` subscription invoices is distributed evenly over six months. This allocation is applicable for fees paid in advance (spread over the next remaining months depending on calendar or anniversary billing) and for fees paid in arrears (spread over the previous months depending on calendar or anniversary billing).
            - Revenue from `weekly` subscription invoices, the total revenue from all invoices issued within a month is summed up. This total is then divided by the number of invoices issued during that month, and the result is multiplied by 4.33, representing the average number of weeks in a month.
          required: false
          explode: true
          schema:
            allOf:
              - $ref: '#/components/schemas/Currency'
              - example: USD
        - $ref: '#/components/parameters/months'
      responses:
        '200':
          description: MRR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mrrs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /analytics/overdue_balance:
    get:
      tags:
        - analytics
      summary: List overdue balance
      description: Overdue balance is the total amount associated with overdue invoices (invoices with pending or failed payments which are past their due dates).
      operationId: findAllOverdueBalances
      parameters:
        - name: currency
          in: query
          description: Currency of revenue analytics. Format must be ISO 4217.
          required: false
          explode: true
          schema:
            allOf:
              - $ref: '#/components/schemas/Currency'
              - example: USD
        - name: external_customer_id
          in: query
          description: The customer external unique identifier (provided by your own application). Use it to filter revenue analytics at the customer level.
          required: false
          explode: true
          schema:
            type: string
            example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
        - $ref: '#/components/parameters/months'
      responses:
        '200':
          description: Overdue balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverdueBalances'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /analytics/usage:
    get:
      tags:
        - analytics
      summary: List usage
      description: Returns usages.
      operationId: findAllUsages
      parameters:
        - name: time_granularity
          in: query
          description: The time granularity of usage analytics. Possible values are 'daily', 'weekly', 'monthly', 'yearly'.
          required: false
          schema:
            type: string
            enum:
              - daily
              - weekly
              - monthly
            example: monthly
        - name: currency
          in: query
          description: The currency of usage analytics. Format must be ISO 4217.
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/Currency'
              - example: USD
        - name: from_date
          in: query
          description: The start date of the period for which the usage analytics is calculated.
          required: false
          schema:
            type: string
            format: date
            example: '2023-11-01'
        - name: to_date
          in: query
          description: The end date of the period for which the usage analytics is calculated.
          required: false
          schema:
            type: string
            format: date
            example: '2023-11-30'
        - name: customer_type
          in: query
          description: The type of customer for which the usage analytics is calculated. Possible values are 'individual', 'company'.
          required: false
          schema:
            type: string
            enum:
              - individual
              - company
            example: individual
        - name: external_customer_id
          in: query
          description: The external identifier of the customer for which the usage analytics is calculated.
          required: false
          schema:
            type: string
            example: ext-customer-123
        - name: customer_country
          in: query
          description: The country of the customer for which the usage analytics is calculated.
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/Country'
              - example: US
        - name: external_subscription_id
          in: query
          description: The external identifier of the subscription for which the usage analytics is calculated.
          required: false
          schema:
            type: string
            example: ext-subscription-123
        - name: is_billable_metric_recurring
          in: query
          description: Indicates whether the billable metric associated with the usage is recurring.
          required: false
          schema:
            type: boolean
            example: true
        - name: plan_code
          in: query
          description: The code of the plan for which the usage analytics is calculated.
          required: false
          schema:
            type: string
            example: plan-code-123
        - name: billable_metric_code
          in: query
          description: The code of the usage-based billable metrics for which the usage analytics is calculated.
          required: false
          schema:
            type: string
            example: code1
      responses:
        '200':
          description: Usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usages'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /applied_coupons:
    post:
      tags:
        - coupons
      summary: Apply a coupon to a customer
      description: This endpoint is used to apply a specific coupon to a customer, before or during a subscription.
      operationId: applyCoupon
      requestBody:
        description: Apply coupon payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppliedCouponInput'
        required: true
      responses:
        '200':
          description: Coupon applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCoupon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - coupons
      summary: List all applied coupons
      description: This endpoint is used to list all applied coupons. You can filter by coupon status and by customer.
      operationId: findAllAppliedCoupons
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: status
          in: query
          description: The status of the coupon. Can be either `active` or `terminated`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - active
              - terminated
            example: active
        - name: external_customer_id
          in: query
          description: The customer external unique identifier (provided by your own application)
          required: false
          explode: true
          schema:
            type: string
            example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
        - name: coupon_code[]
          in: query
          description: The code of the coupon applied to the customer. Use it to filter applied coupons by their code.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - BLACK_FRIDAY_2024
              - CHRISTMAS_2024
      responses:
        '200':
          description: Applied Coupons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCouponsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /billable_metrics:
    post:
      tags:
        - billable_metrics
      summary: Create a billable metric
      description: This endpoint creates a new billable metric representing a pricing component of your application.
      operationId: createBillableMetric
      requestBody:
        description: Billable metric payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricCreateInput'
        required: true
      responses:
        '200':
          description: Billable metric created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - billable_metrics
      summary: List all billable metrics
      description: This endpoint retrieves all existing billable metrics that represent pricing components of your application.
      operationId: findAllBillableMetrics
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: List of billable metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetricsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /billable_metrics/evaluate_expression:
    post:
      tags:
        - billable_metrics
      summary: Evaluate an expression for a billable metric
      description: Evaluate an expression for a billable metric creation by providing the expression and test data
      operationId: evaluateBillableMetricExpression
      requestBody:
        description: Billable metric expression evaluation payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricEvaluateExpressionInput'
        required: true
      responses:
        '200':
          description: Billable metric expression evaluation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetricEvaluateExpressionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /billable_metrics/{code}:
    parameters:
      - name: code
        in: path
        description: Code of the existing billable metric.
        required: true
        schema:
          type: string
          example: storage
    put:
      tags:
        - billable_metrics
      summary: Update a billable metric
      description: This endpoint updates an existing billable metric representing a pricing component of your application.
      operationId: updateBillableMetric
      requestBody:
        description: Billable metric payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillableMetricUpdateInput'
        required: true
      responses:
        '200':
          description: Billable metric updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - billable_metrics
      summary: Delete a billable metric
      description: This endpoint deletes an existing billable metric representing a pricing component of your application.
      operationId: destroyBillableMetric
      responses:
        '200':
          description: Billable metric deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
        - billable_metrics
      summary: Retrieve a billable metric
      description: This endpoint retrieves an existing billable metric that represents a pricing component of your application. The billable metric is identified by its unique code.
      operationId: findBillableMetric
      responses:
        '200':
          description: Billable metric
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillableMetric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /features:
    post:
      tags:
        - features
      summary: Create a feature
      description: This endpoint creates a new feature representing an entitlement component of your application.
      operationId: createFeature
      requestBody:
        description: Feature payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureCreateInput'
        required: true
      responses:
        '200':
          description: Feature created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - features
      summary: List all features
      description: This endpoint retrieves all existing features that represent entitlement components of your application.
      operationId: findAllFeatures
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: search_term
          in: query
          description: Search in name, code and description.
          required: false
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: List of features
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /features/{code}:
    parameters:
      - name: code
        in: path
        description: Code of the existing feature.
        required: true
        schema:
          type: string
          example: seats
    put:
      tags:
        - features
      summary: Update a feature
      description: This endpoint updates an existing feature representing an entitlement component of your application.
      operationId: updateFeature
      requestBody:
        description: Feature payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureUpdateInput'
        required: true
      responses:
        '200':
          description: Feature updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - features
      summary: Delete a feature
      description: This endpoint deletes an existing feature representing an entitlement component of your application. Deleting a feature will remove it from all plans and subscriptions.
      operationId: destroyFeature
      responses:
        '200':
          description: Feature deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
        - features
      summary: Retrieve a feature
      description: This endpoint retrieves an existing feature that represents an entitlement component of your application. The feature is identified by its unique code.
      operationId: findFeature
      responses:
        '200':
          description: Feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /features/{code}/privileges/{privilege_code}:
    parameters:
      - name: code
        in: path
        description: Code of the existing feature.
        required: true
        schema:
          type: string
          example: seats
      - name: privilege_code
        in: path
        description: Code of the existing privilege.
        required: true
        schema:
          type: string
          example: max_admins
    delete:
      tags:
        - features
      summary: Delete a privilege. Deleting a privilege removes it from all plans and subscriptions.
      description: Delete privilege from feature. Deleting a privilege removes it from all plans and subscriptions.
      operationId: deleteFeaturePrivilege
      responses:
        '200':
          description: Feature with deleted privilege.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /coupons:
    post:
      tags:
        - coupons
      summary: Create a coupon
      description: This endpoint is used to create a coupon that can be then attached to a customer to create a discount.
      operationId: createCoupon
      requestBody:
        description: Coupon payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponCreateInput'
        required: true
      responses:
        '200':
          description: Coupon created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - coupons
      summary: List all coupons
      description: This endpoint is used to list all existing coupons.
      operationId: findAllCoupons
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Coupons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /coupons/{code}:
    parameters:
      - name: code
        in: path
        description: Unique code used to identify the coupon.
        required: true
        schema:
          type: string
          example: startup_deal
    put:
      tags:
        - coupons
      summary: Update a coupon
      description: This endpoint is used to update a coupon that can be then attached to a customer to create a discount.
      operationId: updateCoupon
      requestBody:
        description: Coupon payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponUpdateInput'
        required: true
      responses:
        '200':
          description: Coupon updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - coupons
      summary: Retrieve a coupon
      description: This endpoint is used to retrieve a specific coupon.
      operationId: findCoupon
      responses:
        '200':
          description: Coupon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - coupons
      summary: Delete a coupon
      description: This endpoint is used to delete a coupon.
      operationId: destroyCoupon
      responses:
        '200':
          description: Coupon deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /credit_notes:
    post:
      tags:
        - credit_notes
      summary: Create a credit note
      description: This endpoint creates a new credit note.
      operationId: createCreditNote
      requestBody:
        description: Credit note payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteCreateInput'
        required: true
      responses:
        '200':
          description: Credit note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteExtended'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - credit_notes
      summary: List all credit notes
      description: This endpoint list all existing credit notes.
      operationId: findAllCreditNotes
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/external_customer_id'
        - name: issuing_date_from
          in: query
          description: Filter credit notes starting from a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-07-08'
        - name: issuing_date_to
          in: query
          description: Filter credit notes up to a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-08-09'
        - name: search_term
          in: query
          description: Search credit notes by id, number, customer name, customer external_id or customer email.
          required: false
          explode: true
          schema:
            type: string
            example: Jane
        - name: currency
          in: query
          description: Filter credit notes by currency. Possible values ISO 4217 currency codes.
          required: false
          explode: true
          schema:
            type: string
            example: EUR
        - name: reason
          in: query
          description: Filter credit notes by reasons. Possible values are `product_unsatisfactory`, `order_change`, `order_cancellation`, `fraudulent_charge`, `duplicated_charge` or `other`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - product_unsatisfactory
              - order_change
              - order_cancellation
              - fraudulent_charge
              - duplicated_charge
              - other
        - name: credit_status
          in: query
          description: Filter credit notes by credit status. Possible values are `available`, `consumed`  or `voided`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - available
              - consumed
              - voided
        - name: refund_status
          in: query
          description: Filter credit notes by refund status. Possible values are `pending`, `succeeded`  or `failed`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - pending
              - succeeded
              - failed
        - name: invoice_number
          in: query
          description: Filter credit notes by their related invoice number.
          required: false
          explode: true
          schema:
            type: string
            example: INV-001-002
        - name: amount_from
          in: query
          description: Filter credit notes of at least a specific amount. This parameter must be defined in cents to ensure consistent handling for all currency types.
          required: false
          explode: true
          schema:
            type: integer
            example: 9000
        - name: amount_to
          in: query
          description: Filter credit notes up to a specific amount. This parameter must be defined in cents to ensure consistent handling for all currency types.
          required: false
          explode: true
          schema:
            type: integer
            example: 100000
        - name: self_billed
          in: query
          description: Filter credit notes belonging to a self billed invoice. Possible values are `true` or `false`.
          required: false
          explode: true
          schema:
            type: boolean
            example: true
        - name: billing_entity_codes[]
          in: query
          description: Filter credit notes by billing entity codes.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - billing_entity_code_1
              - billing_entity_code_2
      responses:
        '200':
          description: Credit notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNotesPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /credit_notes/{lago_id}:
    parameters:
      - name: lago_id
        in: path
        description: The credit note unique identifier, created by Lago.
        required: true
        schema:
          type: string
          example: '12345'
    put:
      tags:
        - credit_notes
      summary: Update a credit note
      description: This endpoint updates an existing credit note.
      operationId: updateCreditNote
      requestBody:
        description: Credit note update payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteUpdateInput'
        required: true
      responses:
        '200':
          description: Credit note updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteExtended'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - credit_notes
      summary: Retrieve a credit note
      description: This endpoint retrieves an existing credit note.
      operationId: findCreditNote
      responses:
        '200':
          description: Credit note
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteExtended'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /credit_notes/{lago_id}/download:
    post:
      tags:
        - credit_notes
      summary: Download a credit note PDF
      description: This endpoint downloads the PDF of an existing credit note.
      parameters:
        - name: lago_id
          in: path
          description: The credit note unique identifier, created by Lago.
          required: true
          schema:
            type: string
            format: uuid
            example: 1a901a90-1a90-1a90-1a90-1a901a901a90
      operationId: downloadCreditNote
      responses:
        '200':
          description: Credit note PDF
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /credit_notes/estimate:
    post:
      tags:
        - credit_notes
      summary: Estimate amounts for a new credit note
      description: This endpoint allows you to retrieve amounts for a new credit note creation.
      requestBody:
        description: Credit note estimate payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteEstimateInput'
      operationId: estimateCreditNote
      responses:
        '200':
          description: Credit note amounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteEstimated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /credit_notes/{lago_id}/void:
    put:
      tags:
        - credit_notes
      summary: Void available credit
      description: This endpoint voids the available credit linked to a specific credit note.
      parameters:
        - name: lago_id
          in: path
          description: The credit note unique identifier, created by Lago.
          required: true
          schema:
            type: string
            format: uuid
            example: 1a901a90-1a90-1a90-1a90-1a901a901a90
      operationId: voidCreditNote
      responses:
        '200':
          description: Credit note voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteExtended'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/NotAllowed'
  /credit_notes/{lago_id}/metadata:
    post:
      tags:
        - credit_notes
      summary: Replace credit note metadata
      description: |-
        This endpoint replaces all existing metadata on a credit note with the provided key-value pairs.
        Any existing metadata keys not included in the request will be removed.
      parameters:
        - name: lago_id
          in: path
          description: The credit note unique identifier, created by Lago.
          required: true
          schema:
            type: string
            format: uuid
            example: 1f615414-ceb0-11f0-94bf-0f2d5b311aba
      operationId: replaceCreditNoteMetadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteMetadataResponse'
      responses:
        '200':
          description: Credit note metadata replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteMetadataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      tags:
        - credit_notes
      summary: Merge credit note metadata
      description: |-
        This endpoint merges the provided metadata with existing metadata on the credit note.
        Existing keys not in the request are preserved. New keys are added, existing keys are updated.
      parameters:
        - name: lago_id
          in: path
          description: The credit note unique identifier, created by Lago.
          required: true
          schema:
            type: string
            format: uuid
            example: 1a901a90-1a90-1a90-1a90-1a901a901a90
      operationId: mergeCreditNoteMetadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNoteMetadataResponse'
      responses:
        '200':
          description: Credit note metadata merged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteMetadataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - credit_notes
      summary: Delete all credit note metadata
      description: This endpoint removes all metadata from a credit note.
      parameters:
        - name: lago_id
          in: path
          description: The credit note unique identifier, created by Lago.
          required: true
          schema:
            type: string
            format: uuid
            example: 1a901a90-1a90-1a90-1a90-1a901a901a90
      operationId: deleteAllCreditNoteMetadata
      responses:
        '200':
          description: Credit note metadata deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteMetadataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /credit_notes/{lago_id}/metadata/{key}:
    delete:
      tags:
        - credit_notes
      summary: Delete a metadata key
      description: This endpoint removes a single metadata key from a credit note.
      parameters:
        - name: lago_id
          in: path
          description: The credit note unique identifier, created by Lago.
          required: true
          schema:
            type: string
            format: uuid
            example: 1a901a90-1a90-1a90-1a90-1a901a901a90
        - name: key
          in: path
          description: The metadata key to delete.
          required: true
          schema:
            type: string
            example: external_id
      operationId: deleteCreditNoteMetadataKey
      responses:
        '200':
          description: Metadata key deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteMetadataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers:
    post:
      tags:
        - customers
      summary: Create a customer
      description: This endpoint creates a new customer.
      operationId: createCustomer
      requestBody:
        description: Customer payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateInput'
        required: true
      responses:
        '200':
          description: Customer created or updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - customers
      summary: List all customers
      description: This endpoint retrieves all existing customers.
      operationId: findAllCustomers
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: account_type[]
          in: query
          description: Filter customers by account type.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - customer
                - partner
            example:
              - customer
              - partner
        - name: billing_entity_codes[]
          in: query
          description: Filter customers by billing entity codes.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - billing_entity_code_1
              - billing_entity_code_2
        - name: search_term
          in: query
          description: Filter customers by search term. This will filter all customers whose name, firstname, lastname, legal name, external id or email contain the search term.
          required: false
          schema:
            type: string
            example: John Doe
        - name: countries[]
          in: query
          description: Filter customers by countries. Possible values are the ISO 3166-1 alpha-2 codes.
          required: false
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Country'
            example:
              - US
              - FR
        - name: states[]
          in: query
          description: Filter customers by states.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - CA
              - Paris
        - name: zipcodes[]
          in: query
          description: Filter customers by zipcodes.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - '10115'
              - '75001'
        - name: currencies[]
          in: query
          description: Filter customers by currencies.
          required: false
          explode: true
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Currency'
            example:
              - USD
              - EUR
        - name: has_tax_identification_number
          in: query
          description: Filter customers by whether they have a tax identification number or not.
          required: false
          schema:
            type: boolean
            example: true
        - name: metadata[key]
          in: query
          description: Filter customers by metadata. Replace `key` with the actual metadata key you want to match, and provide the corresponding value. Providing empty value will search for customers without given metadata key. For example, `metadata[is_synced]=true&metadata[last_synced_at]=`.
          required: false
          explode: true
          schema:
            type: string
            example: value
        - name: customer_type
          in: query
          description: Filter customers by customer type.
          required: false
          schema:
            type: string
            enum:
              - company
              - individual
            example: company
        - name: has_customer_type
          in: query
          description: Filter customers by whether they have a customer type or not.
          required: false
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/{external_customer_id}:
    parameters:
      - name: external_customer_id
        in: path
        description: The customer external unique identifier (provided by your own application)
        required: true
        schema:
          type: string
          example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
    get:
      tags:
        - customers
      summary: Retrieve a customer
      description: This endpoint retrieves an existing customer.
      operationId: findCustomer
      responses:
        '200':
          description: Customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - customers
      summary: Delete a customer
      description: This endpoint deletes an existing customer.
      operationId: destroyCustomer
      responses:
        '200':
          description: Customer deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/applied_coupons:
    get:
      tags:
        - customers
        - coupons
      summary: List all customer's applied coupons
      description: This endpoint is used to list all applied coupons for a customer.
      operationId: findAllCustomerAppliedCoupons
      parameters:
        - $ref: '#/components/parameters/external_customer_id_path'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: status
          in: query
          description: The status of the coupon. Can be either `active` or `terminated`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - active
              - terminated
            example: active
        - name: coupon_code[]
          in: query
          description: The code of the coupon applied to the customer. Use it to filter applied coupons by their code.
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
            example:
              - BLACK_FRIDAY_2024
              - CHRISTMAS_2024
      responses:
        '200':
          description: Applied Coupons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCouponsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/applied_coupons/{applied_coupon_id}:
    delete:
      tags:
        - coupons
        - customers
      summary: Delete an applied coupon
      description: This endpoint is used to delete a specific coupon that has been applied to a customer.
      parameters:
        - $ref: '#/components/parameters/external_customer_id_path'
        - name: applied_coupon_id
          in: path
          description: Unique identifier of the applied coupon, created by Lago.
          required: true
          explode: true
          schema:
            type: string
            format: uuid
            example: 1a901a90-1a90-1a90-1a90-1a901a901a90
      operationId: deleteAppliedCoupon
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppliedCoupon'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/credit_notes:
    get:
      tags:
        - customers
        - credit_notes
      summary: List all customer's credit notes
      description: This endpoint list all existing credit notes for a customer.
      operationId: findAllCustomerCreditNotes
      parameters:
        - $ref: '#/components/parameters/external_customer_id_path'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: issuing_date_from
          in: query
          description: Filter credit notes starting from a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-07-08'
        - name: issuing_date_to
          in: query
          description: Filter credit notes up to a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-08-09'
        - name: search_term
          in: query
          description: Search credit notes by id, number, customer name, customer external_id or customer email.
          required: false
          explode: true
          schema:
            type: string
            example: Jane
        - name: reason
          in: query
          description: Filter credit notes by reasons. Possible values are `product_unsatisfactory`, `order_change`, `order_cancellation`, `fraudulent_charge`, `duplicated_charge` or `other`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - product_unsatisfactory
              - order_change
              - order_cancellation
              - fraudulent_charge
              - duplicated_charge
              - other
        - name: credit_status
          in: query
          description: Filter credit notes by credit status. Possible values are `available`, `consumed`  or `voided`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - available
              - consumed
              - voided
        - name: refund_status
          in: query
          description: Filter credit notes by refund status. Possible values are `pending`, `succeeded`  or `failed`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - pending
              - succeeded
              - failed
        - name: invoice_number
          in: query
          description: Filter credit notes by their related invoice number.
          required: false
          explode: true
          schema:
            type: string
            example: INV-001-002
        - name: amount_from
          in: query
          description: Filter credit notes of at least a specific amount. This parameter must be defined in cents to ensure consistent handling for all currency types.
          required: false
          explode: true
          schema:
            type: integer
            example: 9000
        - name: amount_to
          in: query
          description: Filter credit notes up to a specific amount. This parameter must be defined in cents to ensure consistent handling for all currency types.
          required: false
          explode: true
          schema:
            type: integer
            example: 100000
        - name: self_billed
          in: query
          description: Filter credit notes belonging to a self billed invoice. Possible values are `true` or `false`.
          required: false
          explode: true
          schema:
            type: boolean
            example: true
      responses:
        '200':
          description: Credit notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNotesPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/invoices:
    get:
      tags:
        - customers
        - invoices
      summary: List all customer's invoices
      description: This endpoint is used for retrieving all invoices of a customer.
      operationId: findAllCustomerInvoices
      parameters:
        - $ref: '#/components/parameters/external_customer_id_path'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: amount_from
          in: query
          description: Filter invoices of at least a specific amount. This parameter must be defined in cents to ensure consistent handling for all currency types.
          required: false
          explode: true
          schema:
            type: integer
            example: 9000
        - name: amount_to
          in: query
          description: Filter invoices up to a specific amount. This parameter must be defined in cents to ensure consistent handling for all currency types.
          required: false
          explode: true
          schema:
            type: integer
            example: 100000
        - name: issuing_date_from
          in: query
          description: Filter invoices starting from a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-07-08'
        - name: issuing_date_to
          in: query
          description: Filter invoices up to a specific date.
          required: false
          explode: true
          schema:
            type: string
            format: date
            example: '2022-08-09'
        - name: status
          in: query
          description: Filter invoices by status. Possible values are `draft` or `finalized`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - draft
              - finalized
        - name: payment_status
          in: query
          description: Filter invoices by payment status. Possible values are `pending`, `failed` or `succeeded`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - pending
              - failed
              - succeeded
        - name: payment_overdue
          in: query
          description: Filter invoices by payment_overdue. Possible values are `true` or `false`.
          required: false
          explode: true
          schema:
            type: boolean
            example: true
        - name: search_term
          in: query
          description: Search invoices by id, number, customer name, customer external_id or customer email.
          required: false
          explode: true
          schema:
            type: string
            example: Jane
        - name: payment_dispute_lost
          in: query
          description: Filter invoices with a payment dispute lost. Possible values are `true` or `false`.
          required: false
          explode: true
          schema:
            type: boolean
            example: true
        - name: invoice_type
          in: query
          description: Filter invoices by invoice type. Possible values are `subscription`, `add_on`, `credit`, `one_off`, `advance_charges` or `progressive_billing`.
          required: false
          explode: true
          schema:
            type: string
            enum:
              - subscription
              - add_on
              - credit
              - one_off
              - advance_charges
              - progressive_billing
        - name: self_billed
          in: query
          description: Filter invoices by self billed. Possible values are `true` or `false`.
          required: false
          explode: true
          schema:
            type: boolean
            example: true
        - name: metadata[key]
          in: query
          description: Filter invoices by metadata. Replace `key` with the actual metadata key you want to match, and provide the corresponding value. Providing empty value will search for invoice without given metadata key. For example, `metadata[color]=blue`.
          required: false
          explode: true
          schema:
            type: string
            example: someValue
      responses:
        '200':
          description: Invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /customers/{external_customer_id}/payments:
    get:
      tags:
        - customers
        - payments
      summary: List all customer's payments
      description: This endpoint is used to list all payments of a customer
      operationId: findAllCustomerPayments
      parameters:
        - $ref: '#/components/parameters/external_customer_id_path'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: invoice_id
          in: query
          description: Unique identifier assigned to the invoice within the Lago application. This ID is exclusively created by Lago and serves as a unique identifier for the invoice's record within the Lago system.
          required: false
          schema:
            type: string
            format: uuid
            example: 1a901a90-1a90-1a90-1a90-1a901a901a90
      responses:
        '200':
          description: Payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/payment_requests:
    get:
      tags:
        - customers
        - payment_requests
      summary: List all customer's payment requests
      description: This endpoint is used to list all existing payment requests of a customer.
      operationId: findAllCustomerPaymentRequests
      parameters:
        - $ref: '#/components/parameters/external_customer_id_path'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/payment_status'
      responses:
        '200':
          description: PaymentRequests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/portal_url:
    get:
      tags:
        - customers
      summary: Get a customer portal URL
      description: |-
        Retrieves an embeddable link for displaying a customer portal.

        This endpoint allows you to fetch the URL that can be embedded to provide customers access to a dedicated portal
      parameters:
        - name: external_customer_id
          in: path
          description: External ID of the existing customer
          required: true
          schema:
            type: string
            example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
      operationId: getCustomerPortalUrl
      responses:
        '200':
          description: Portal URL
          content:
            application/json:
              schema:
                type: object
                required:
                  - customer
                properties:
                  customer:
                    type: object
                    required:
                      - portal_url
                    properties:
                      portal_url:
                        type: string
                        example: https://app.lago.com/customer-portal/1234567890
                        description: An embeddable link for displaying a customer portal
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/subscriptions:
    get:
      tags:
        - customers
        - subscriptions
      summary: List all customer's subscriptions
      description: This endpoint retrieves all active subscriptions for a customer.
      operationId: findAllCustomerSubscriptions
      parameters:
        - $ref: '#/components/parameters/external_customer_id_path'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: plan_code
          in: query
          description: The unique code representing the plan to be attached to the customer. This code must correspond to the code property of one of the active plans.
          required: false
          explode: true
          schema:
            type: string
            example: premium
        - name: status[]
          in: query
          description: 'If the field is not defined, Lago will return only `active` subscriptions. However, if you wish to fetch subscriptions by different status you can define them in a status[] query param. Available filter values: `pending`, `canceled`, `terminated`, `active`.'
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - pending
                - canceled
                - terminated
                - active
            example:
              - active
              - pending
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/wallets:
    parameters:
      - $ref: '#/components/parameters/external_customer_id_path'
    post:
      tags:
        - wallets
      summary: Create a wallet
      description: This endpoint is used to create a wallet with prepaid credits.
      operationId: createCustomerWallet
      requestBody:
        description: Wallet payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletCreateInput'
        required: true
      responses:
        '200':
          description: Wallet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - wallets
      summary: List all customer's wallets
      description: This endpoint is used to list all wallets with prepaid credits of a customer
      operationId: findAllCustomerWallets
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Wallets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletsPaginated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/wallets/{code}:
    parameters:
      - $ref: '#/components/parameters/external_customer_id_path'
      - name: code
        in: path
        description: A unique wallet identifier within a customer. It is either set by the user at creation or auto-generated by Lago if not provided.
        required: true
        schema:
          type: string
          example: wallet-code
    put:
      tags:
        - wallets
      summary: Update a wallet
      description: This endpoint is used to update an existing wallet with prepaid credits.
      operationId: updateCustomerWallet
      requestBody:
        description: Wallet update payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletUpdateInput'
        required: true
      responses:
        '200':
          description: Wallet updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      tags:
        - wallets
      summary: Retrieve a wallet
      description: This endpoint is used to retrieve an existing wallet with prepaid credits.
      operationId: findCustomerWallet
      responses:
        '200':
          description: Wallet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - wallets
      summary: Terminate a wallet
      description: This endpoint is used to terminate an existing wallet with prepaid credits.
      operationId: destroyCustomerWallet
      responses:
        '200':
          description: Wallet terminated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /customers/{external_customer_id}/wallets/{wallet_code}/metadata:
    parameters:
      - $ref: '#/components/parameters/external_customer_id_path'
      - $ref: '#/components/parameters/wallet_code'
    post:
      tags:
        - wallets
      summary: Replace wallet metadata
      description: |-
        This endpoint replaces all existing metadata on a wallet with the provided key-value pairs.
        Any existing metadata keys not included in the request will be removed.
      operationId: replaceCustomerWalletMetadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletMetadataResponse'
      responses:
        '200':
          description: Wallet metadata replaced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletMetadataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      tags:
        - wallets
      summary: Merge wallet metadata
      description: |-
        This endpoint merges the provided metadata with existing metadata on the wallet.
        Existing keys not in the request are preserved. New keys are added, existing keys are updated.
      operationId: mergeCustomerWalletMetadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletMetadataResponse'
      responses:
        '200':
          description: Wallet metadata merged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletMetadataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - wallets
      summary: Delete all wallet metadata
      description: This endpoint removes all metadata from a wallet.
      operationId: deleteAllCustomerWalletMetadata
      responses:
        '200':
          description: Wallet metadata deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletMetadataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/wallets/{wallet_code}/metadata/{key}:
    parameters:
      - $ref: '#/components/parameters/external_customer_id_path'
      - $ref: '#/components/parameters/wallet_code'
    delete:
      tags:
        - wallets
      summary: Delete a metadata key
      description: This endpoint removes a single metadata key from a wallet.
      parameters:
        - name: key
          in: path
          description: The metadata key to delete.
          required: true
          schema:
            type: string
            example: external_id
      operationId: deleteCustomerWalletMetadataKey
      responses:
        '200':
          description: Metadata key deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletMetadataResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/wallets/{wallet_code}/alerts:
    parameters:
      - $ref: '#/components/parameters/external_customer_id_path'
      - $ref: '#/components/parameters/wallet_code'
    get:
      tags:
        - wallets
      summary: List wallet alerts
      description: This endpoint enables the retrieval of all alerts for a wallet.
      operationId: getCustomerWalletAlerts
      responses:
        '200':
          description: Wallet alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAlerts'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - wallets
      summary: Create wallet alert(s)
      description: This endpoint allows you to create new alerts for a wallet. Send a single alert object wrapped in `alert` key to create one alert, or an array of alert objects wrapped in `alerts` key to create multiple alerts atomically.
      operationId: createCustomerWalletAlert
      requestBody:
        description: Create a new alert for a wallet
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/WalletAlertCreateInput'
                - $ref: '#/components/schemas/WalletAlertBatchCreateInput'
        required: true
      responses:
        '200':
          description: Wallet alert(s) created
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WalletAlert'
                  - $ref: '#/components/schemas/WalletAlerts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - wallets
      summary: Delete all wallet alerts
      description: This endpoint allows you to delete all alerts for a wallet.
      operationId: deleteAllCustomerWalletAlerts
      responses:
        '200':
          description: All wallet alerts deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/wallets/{wallet_code}/alerts/{code}:
    parameters:
      - $ref: '#/components/parameters/external_customer_id_path'
      - $ref: '#/components/parameters/wallet_code'
      - name: code
        in: path
        description: Unique code of the alert
        required: true
        schema:
          type: string
          example: balance_threshold_alert
    get:
      tags:
        - wallets
      summary: Retrieve a wallet alert
      description: This endpoint enables the retrieval of a specific alert for a wallet.
      operationId: getCustomerWalletAlert
      responses:
        '200':
          description: Wallet alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - wallets
      summary: Update a wallet alert
      description: This endpoint allows you to update an existing alert for a wallet.
      operationId: updateCustomerWalletAlert
      requestBody:
        description: Update an existing alert for a wallet
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletAlertUpdateInput'
        required: true
      responses:
        '200':
          description: Wallet alert updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAlert'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - wallets
      summary: Delete a wallet alert
      description: This endpoint allows you to delete an existing alert for a wallet.
      operationId: deleteCustomerWalletAlert
      responses:
        '200':
          description: Wallet alert deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /customers/{external_customer_id}/current_usage:
    get:
      tags:
        - customers
      summary: Retrieve customer current usage
      description: This endpoint enables the retrieval of the usage-based billing data for a customer within the current period.
      parameters:
        - name: external_customer_id
          in: path
          description: The customer external unique identifier (provided by your own application).
          required: true
          schema:
            type: string
            example: 5eb02857-a71e-4ea2-bcf9-57d3a41bc6ba
        - name: external_subscription_id
          in: query
          description: The unique identifier of the subscription within your application.
          required: true
          explode: true
          schema:
            type: string
            example: sub_1234567890
        - name: apply_taxes
          in: query
          description: |
            Optional flag to determine if taxes should be applied. Defaults to `true` if not provided or if null.
          required: false
          schema:
            type: boolean
            default: true
            example: true
        - name: charge_id
          in: query
          description: Filter usage to a specific charge by its Lago ID (UUID). Replaces deprecated `filter_by_charge_id`.
          required: false
          schema:
            type: string
            format: uuid
            example: 1a901a90-1a90-1a90-1a90-1a901a901a90
        - name: charge_code
          in: query
          description: Filter usage to a specific charge by its code. Replaces deprecated `filter_by_charge_code`.
          required: false
          schema:
            type: string
            example: storage
        - name: billable_metric_code
          in: query
          description: Filter usage to a specific billable metric by its code.
          required: false
          schema:
            type: string
            example: storage
        - name: group
          in: query
          description: |
[...]
