default: &default
  adapter: postgresql

development:
  <<: *default
  host: localhost
  username: lago
  password: changeme
  database: lago
  port: 5432

test:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
