concurrency: 10
timeout: 25
retry: 1
queues:
  - default
  - mailers
  - providers
  - webhook
  - invoices
  - wallets
  - integrations
  - low_priority

production:
  concurrency: <%= ENV.fetch('SIDEKIQ_CONCURRENCY', 10) %>
staging:
  concurrency: 10
